body {
	background-image: linear-gradient(rgb(11, 11, 11), #9a9a9a);
	height: 94vh;
}
.container {
	margin: 15px auto;
	text-align: center;
}
.parentContainer {
	background-image: url(/assets/images/small_steps.png);
	justify-items: center;
	position: relative;
	box-shadow: 0 0 15px #4f4f4f;
	border-radius: 35px;
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 10px;
	width: 70%;
}
.headContainer {
	width: 70%;
}
/* tag for the buttons */
.btn-lg {
	box-shadow: 0 0 10px black;
}
.formContainer {
	width: 70%;
	background-color: #777777;
	border-radius: 30px;
	color: whitesmoke;
	box-shadow: 0 0 10px #777777;
}
.outputContainer {
	width: 70%;
}
.buttonContainer {
	width: 70%;
}
.form-check-label {
	cursor: pointer;
}
.form-control {
	border: solid 1px black;
	box-shadow: 0px 0px 20px black;
}
#lengthInput,
#passwordOutput {
	text-align: center;
}
#lengthInput {
	/* width: 100px; */
	display: flex;
	justify-items: center;
	text-align: center;
}
footer {
	height: 35px;
	background-color: #9a9a9a;
	font-size: 25px;
	border-top: solid 1.5px whitesmoke;
	color: whitesmoke;
	text-align: center;
	align-self: center;
	position: fixed;
	bottom: 0;
	width: 100%;
}
@media (max-width: 640px) {
	body {
		height: 100vh;
		margin-bottom: 10px;
	}
	.parentContainer {
		padding: 10px;
		width: 100%;
		flex: 100%;
		text-align: center;
		margin-bottom: 20px;
	}
	footer {
		position: fixed;
		bottom: 0;
		display: flex;
		justify-self: end;
	}
}
